[user]
	name = Stanislaw Karkavin
	email = me@xdefrag.dev
	# signingkey = B877A828254FB464758CBDC4298430524711C0B6

[gpg]
	program = gpg

# [commit]
	# gpgsign = true
[github]
	user = xdefrag
[url "git@gitlab.devim.team:"]
    insteadOf = https://gitlab.devim.team/
