[user]
	name = Stanislav Karkavin
	email = skarkavin@ozon.ru
	signingkey = BF5C69092A4272C2F3969407E93C571826158F0D
[core]
  excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = gpg
[push]
	default = current
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[format]
	pretty = oneline
[init]
	defaultBranch = master
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.ozon.ru/"]
	insteadOf = https://gitlab.ozon.ru/
