if status is-interactive
    # Commands to run in interactive sessions can go here
end

set fish_greeting

{{- if eq .chezmoi.hostname "very-good-computer" }}
set -gx PATH $PATH:/opt/homebrew/bin
{{- end }}

set -gx EDITOR nvim

{{- if eq .chezmoi.hostname "NB-SPB-A064" }}
set -gx GOPROXY https://athens.s.o3.ru
set -gx GOSUMDB off
set -gx GOLANG_PROTOBUF_REGISTRATION_CONFLICT warn
{{- end }}

alias v nvim
alias vim nvim
alias vh nvim ~/Notes/Home/index.norg
alias vhi nvim ~/Notes/Home/inbox.norg
alias vw nvim ~/Notes/Work/index.norg
alias vwi nvim ~/Notes/Work/inbox.norg

alias cz chezmoi

alias gst "git status"
alias gd "git diff"
alias gdc "git diff --cached"
alias gp "git push"
alias gpf "git push --force"
alias gri "git rebase --interactive"
alias gc "git commit -S"
alias gcm "git commit -S -m"
alias gca "git commit --amend"
alias ga "git add"
alias gaa "git add ."
