if status is-interactive
    # Commands to run in interactive sessions can go here
end

set fish_greeting

set -U fish_user_paths ~/go/bin $fish_user_paths

{{- if eq .chezmoi.hostname "very-good-computer" }}
set -U fish_user_paths /opt/homebrew/bin $fish_user_paths
{{- end }}

set -gx EDITOR nvim

{{- if eq .chezmoi.hostname "NB-SPB-A064" }}
set -gx GOPROXY https://athens.s.o3.ru
set -gx GOSUMDB off
set -gx GOLANG_PROTOBUF_REGISTRATION_CONFLICT warn
{{- end }}

alias cl clear

alias v nvim
alias vim nvim
alias vh "nvim ~/Notes/Home/index.norg"
alias vhi "nvim ~/Notes/Home/inbox.norg"
alias vw "nvim ~/Notes/Work/index.norg"
alias vwi "nvim ~/Notes/Work/inbox.norg"

alias cz chezmoi

alias n nnn

alias gst "git status"
alias gd "git diff"
alias gdc "git diff --cached"
alias gp "git push"
alias gpf "git push --force"
alias gri "git rebase --interactive"
alias gc "git commit -S"
alias gcm "git commit -S -m"
alias gca "git commit --amend"
alias ga "git add"
alias gaa "git add ."

alias crq "cmus-remote -q"
alias crl "cmus-remote -l"


{{- if eq .chezmoi.hostname "very-good-computer" }}
set -gx MUSIC_PATH ~/Music
{{- end}}

{{- if eq .chezmoi.hostname "NB-SPB-A064" }}
set -gx MUSIC_PATH ~/ExportedMusic
{{- end}}

alias nmq "cd $MUSIC_PATH; cmus-remote -q (nnn -T t -p -)"
alias nml "cd $MUSIC_PATH; cmus-remote -l (nnn -T t -p -)"

source ~/.config/fish/gruvbox.fish
theme_gruvbox dark
