if status is-interactive
set fish_greeting

fish_add_path ~/go/bin
fish_add_path ~/.local/bin
fish_add_path ~/.cargo/bin

set -U fish_user_paths /opt/homebrew/bin $fish_user_paths

fish_add_path /opt/homebrew/opt/heimdal/bin                                                                                                            17:58:23
fish_add_path /opt/homebrew/opt/heimdal/sbin

fish_add_path /opt/homebrew/opt/qt@5/bin

set -gx C_INCLUDE_PATH "$(xcrun --show-sdk-path)/usr/include/ffi"
set -gx CPPFLAGS "-I/opt/homebrew/opt/llvm@12/include -I/opt/homebrew/opt/qt@5/include -I/opt/homebrew/opt/curl/include"
set -gx LDFLAGS "-L/opt/homebrew/opt/llvm@12/lib -Wl,-rpath,/opt/homebrew/opt/llvm@12/lib -L/opt/homebrew/opt/qt@5/lib -L/opt/homebrew/opt/curl/lib"

fish_add_path /opt/homebrew/opt/llvm@12/bin
fish_add_path /opt/homebrew/opt/curl/bin

set -gx EDITOR nvim

set -gx _GOPROXY https://goproxy.s.o3.ru
set -gx GOSUMDB off
set -gx GOLANG_PROTOBUF_REGISTRATION_CONFLICT ignore
set -gx GOTELEMETRY off
set -gx S2S_AUTH_URL https://sso-test.o3.ru/auth/realms/service2service

set -gx HOMEBREW_NO_ANALYTICS true

set -gx FLUTTER_GIT_URL ssh://git@github.com/flutter/flutter.git
set -gx ANDROID_HOME /Users/xdefrag/Library/Android/sdk

alias cl clear

alias v nvim
alias vim nvim
alias vh "nvim ~/Notes/Home/index.norg"
alias vhi "nvim ~/Notes/Home/inbox.norg"
alias vw "nvim ~/Notes/Work/index.norg"
alias vwi "nvim ~/Notes/Work/inbox.norg"

alias cz chezmoi

alias n nnn

alias gst "git status"
alias gd "git diff"
alias gdc "git diff --cached"
alias gp "git push"
alias gpf "git push --force"
alias gri "git rebase --interactive"
alias gc "git commit -S"
alias gcm "git commit -S -m"
alias gca "git commit --amend"
alias ga "git add"
alias gaa "git add ."

alias kc kubectl
alias kn kubens
alias kx kubectx

alias crq "cmus-remote -q"
alias crl "cmus-remote -l"

set -gx MUSIC_PATH ~/Music

alias nmq "cd $MUSIC_PATH; cmus-remote -q (nnn -T t -p -)"
alias nml "cd $MUSIC_PATH; cmus-remote -l (nnn -T t -p -)"

source ~/.config/fish/gruvbox.fish
theme_gruvbox dark

end
